.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 25px 30px 25px;
  align-items: center;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 35px;
  font-weight: 800;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__setting-noti {
  position: absolute;
  right: 20px;
  top: 45px;
}
